<configuration>
  <packageSources>
    <add key="vsts" value="https://iaudit.pkgs.visualstudio.com/_packaging/iauditfeed/nuget/v3/index.json" />
    <add key="nuget.org " value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <vsts>
      <add key="Username" value="joseromualdo@outlook.com" />
      <add key="ClearTextPassword" value="@Clara1234@" />
    </vsts>
  </packageSourceCredentials>
</configuration>